.App{
  width: 100vw;
  height: 100vh;
}
html,body, #root{
  padding:0;
  margin: 0;
}
html,body,#root,.App{
  height: 100%;
  width:100%;
}

.Sidebar{
  height: 100%;
  width: 20vw;
  background-color:#1e2790;
}
.sblist{
  height: auto;
  padding :0;
  width:100%;
}

.sbrow{
  list-style: none; 
  width:100%;
   height:55px;
  margin:0;
  display:flex;
  color: wheat;
  justify-content: center;
  align-items: center;

}

.sbrow:hover{
   cursor:pointer;
   border: solid 1px rgb(32, 86, 103);
}
.NavBar{
  height: 10vw;
  width: 100%;
  background: linear-gradient( to right, #672280, #A626D3 100%);
  font: 4vw;
  display: flex;
  justify-content: space-between ;
  box-shadow: 0px 0px 10px 1px black;
  color: white;
}

.logo--navbar{
  display: flex;
  justify-content: center;
  font-family: 'Fredoka', sans-serif;
  font-family: 'Indie Flower', cursive;
  font-weight: 800;
  font-size: 2.7vw;
  padding: 12px;
}

.center{ 
    align-self: center;
} 
/* parent has to have display flex for .center */

.nav--desc{
  padding:20px;
  margin:20px;
  font-size: 2vw;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
}

.nav--desc a{
  text-decoration: none;
  color: #f1f1f1;
  
}
.carousel{
  height:120vh;
  background-image: url(./components/school-img.jpg);
  filter: blur(8px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.carousel-text{
  z-index: 2;
  color: white;
  position: absolute;
  transform: translate(-50%, -50%);
  border: 3px solid #f1f1f1;
  position: absolute;
  transform: translate(-50%,-50%);
  left:50%;
  top:60%;
  width: 60%;
  padding: 20px;
  text-align: center;
}